<div class="footer-clean">
    <footer class="l9">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4 col-md-2 item">
            <h3>Explore</h3>
            <ul>
              <li><a href="https://mitaoe.ac.in/opportunities.php">CAREERS </a></li>
              <li><a href="https://alumni.mitaoe.ac.in/" target="_blank">ALUMNI</a></li>
              <li><a href="https://mitaoe.ac.in/contact-us.php">CONTACT</a></li>
              <li><a href="https://mitaoe.ac.in/blog.php">BLOG</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-2 item">
            <h3>IMP Links</h3>
            <ul>
              <li><a href="https://mitaoe.ac.in/mitaoe-nirf.php">NIRF</a></li>
              <li><a href="https://mitaoe.ac.in/mandatory-disclosure.php">MANDATORY DISCLOSURE</a></li>
              <li><a href="https://mitaoe.ac.in/mitaoe-downloads.php">DOWNLOADS</a></li>
              <li><a href="https://mitaoe.ac.in/">READ MORE</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-2 item">
            <h3>IMP Links</h3>
            <ul>
              <li><a href="https://mitaoe.ac.in/mitaoe-quality-assurance.php">IQAC</a></li>
              <li><a href="https://mitaoe.ac.in/mitaoe-statutory-compliance.php">STATUTORY COMPLIANCE</a></li>
              <li><a href="https://mitaoe.ac.in/mitaoe-committees.php">GRIEVANCE REDRESSAL</a></li>
            </ul>
          </div>
          <div class="col-lg-4 item social">
            <div class="socials">
              <a href="https://www.facebook.com/MITAOEOfficial/" id="fb" class="icon-button twitter" target="_blank"><i
                  class="fab fa-facebook" aria-hidden="true"></i><span></span></a>
              <a href="https://www.youtube.com/channel/UCL4DWs9R4irwWUTFg8BYsOQ" id="fb" class="icon-button twitter"
                target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i><span></span></a>
              <a href="https://www.linkedin.com/company/mit-academy-of-engineering/" id="linkedin1"
                class="icon-button facebook" target="_blank"><i class="fab fa-linkedin"></i><span></span></a>
              <a href="https://www.instagram.com/mitacademyofengineering/" id="insta" class="icon-button google-plus"
                target="_blank"><i class="fab fa-instagram"></i><span></span></a>
            </div>

       

            <p id="copyright" class="copyright"></p>
                 <script>
                      var d = new Date()
                      var D = d.getFullYear()
            document.getElementById("copyright").innerHTML =' &copy' +D+' MIT Academy of Engineering';
            </script>
          </div>
        </div>
      </div>
    </footer>
  </div>

